* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html, body {
    min-height: 1000px;
    font-family: 'Josefin Sans', sans-serif;
}

/*====================== NAVBAR =======================*/
.navbar {
    position: fixed;
    background-color: rgb(244, 242, 239);
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
    padding: 20px 40px;
    z-index: 100000;
}

.nav-title {
    font-size: 25px;
    color: black;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-list li {
    list-style: none;
    position: relative;
}

.nav-list li a {
    font-size: 15px;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
    color: black;
    padding: 4px;
    background-color: rgb(247, 243, 235);
    box-shadow: 0 1.5px 5px rgb(0 0 0 / 0.2);
}

.nav-list li a:hover {
    background-color: rgb(239, 234, 223);
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 15px 30px;
    }

    .nav-title {
        font-size: 20px;
        color: black;
    }

    .nav-list li a {
        font-size: 12px;
        margin-right: 12px;
    }
}

@media screen and (max-width: 560px) {
    .navbar {
        padding: 10px 20px;
    }

    .nav-title {
        font-size: 12px;
        color: black;
    }

    .nav-list li a {
        font-size: 7px;
        margin-right: 7px;
    }
}

/*====================== HERO =======================*/
.img-carousel {
    position: relative;
    width: 100%;
    height: 500px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media screen and (max-width: 685px) {
    .img-carousel {
        height: 400px;
    }
}

.img {
    width: 100%;
    height: 100%;
}

.button {
    background-color: rgba(49, 47, 47, 0.7);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    box-shadow: 0 0 10px rgba(255, 255, 255, .6);
    color: rgb(236, 231, 231);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.previous {
    left: 2%;
    top: 50%;
}

.next {
    right: 2%;
    top: 50%;
}

/*====================== ABOUT ME =======================*/
.about {
    display: grid;
    grid-template-columns: 2fr 5fr;
    align-items: center;
    gap: 70px;
    padding: 80px;
    background-image: radial-gradient(circle at 76.52% 95.93%, #e1e0d5 0, #c7c4b4 50%, #bcb89e 100%);
}

.subtitle {
    font-size: 50px;
    border-bottom: 3px solid rgb(4, 4, 4);
    margin-bottom: 35px;
}

.img-section {
    height: 400px;
    width: 350px;
    position: relative;
    box-shadow: 0 5px 10px rgba(109, 104, 104, 0.6);
}

.about-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.img-section::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    outline: 3px solid #38383b;
    top: 15px;
    left: 15px;
}

.abt-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 30px;
    font-size: 20px;
}

@media screen and (max-width: 900px) {
    .information {
        grid-area: abt-info;
    }

    .img-section {
        grid-area: img-section;
    }

    .about {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr;
        grid-template-areas: "abt-info" 
                             "img-section";
    }
}

@media screen and (max-width: 490px) {
    .about {
        padding: 30px;
    }

    .abt-info {
        font-size: 15px;
    }

    .img-section {
        height: 300px;
        width: 250px;
    }
}

@media screen and (max-width: 330px) {
    .img-section {
        height: 200px;
        width: 150px;
    }
}

/*====================== EXPERIENCE =======================*/
.experience {
    padding: 80px;
    background-image: radial-gradient(circle at 31.86% 0.17%, #fcfcf7 0, #f6f4ef 50%, #f0ece2 100%);
}

.wrapper {
    max-width: 1080px;
    margin: 50px auto;
    padding: 0 20px;
    position: relative;
}

.center-line {
    position: absolute;
    height: 75%;
    width: 4px;
    background: #fff;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

.row {
    display: flex;
}

.row-1 {
    justify-content: flex-start;
}

.row-2 {
    justify-content: flex-end;
}

.row section {
    background: #fff;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
}

.row section::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    top: 28px;
    z-index: 1;
    transform: rotate(45deg);
}

.row-1 section::before {
    right: -7px;
}

.row-2 section::before {
    left: -7px;
}

.icon {
    position: absolute;
    background-color: #f2f2f2;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}

.row-1 section .icon {
    top: 15px;
    right: -60px;
}

.row-2 section .icon {
    top: 15px;
    left: -60px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.proyect-title {
    font-size: 22px;
    font-weight: 600;
}

.row section p {
    margin: 15px 0 17px 0;
}

.proyect-img {
    width: 50%;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.proyect-link {
    text-decoration: none;
    background: #ff7979;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 400;
    transition: all 0.3s ease;
}

.proyect-link:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 885px) {
    .center-line {
        left: 40px;
    }
    
    .row {
        margin: 30px 0 3px 60px;
    }

    .row section {
        width: 100%;
    }

    .row-1 section::before {
        left: -7px;
    }

    .row-1 section .icon {
        left: -60px;
    }
}

@media screen and (max-width: 580px) {
    .experience {
        align-items: center;
        justify-content: center;
        padding: 50px;
    }

    .center-line, .row section::before, .icon {
        display: none;
    }

    .row {
        margin: 10px 0;
    }
}

@media screen and (max-width: 450px) {
    .experience {
        padding: 30px;
    }

    .title {
        font-size: 15px;
    }

    .details span {
        font-size: 10px;
    }
}

/*====================== SKILLS =======================*/
.skills {
    padding: 80px;
    background-image: radial-gradient(circle at 76.52% 95.93%, #e1e0d5 0, #c7c4b4 50%, #bcb89e 100%);
}
